.header-block{
    background-color:  rgba(73, 71, 63, 0.6);
width: 100vw;
height: 120px;
display: flex;



}
*{
    padding: 0;
    margin: 0;
}

.header{
    background-attachment: fixed;
    background-image: url('./img/section-1.jpg');
    height: 950px;
}
.logo-img{
    padding-left: 15px;
    padding-top: 12px;
    background-image: url(img/logo.png);
    width: 43px;
    height: 54px;
}
.h-in-logo{

    font-family:" Montserrat",sans-serif;
color:#ffffff;
font-size: 40px;
font-weight: 700;
text-transform: uppercase;
text-align: center;
}
.logo{
    margin-left: 389px;
padding-top: 26.5px;
    display:flex;
    align-items: center;

}
*{
    margin: 0;
    padding: 0;
}
.white-logo-text{
    font-family: "Montserrat",sans-serif;
color:  #ffffff;
font-size: 31.96px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;

text-align: left;
}
.birch-logo-text{
    font-family: "Montserrat",sans-serif;
color:  #18cfab;
font-size: 31.96px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;

text-align: left;
}
.text-of-logo{
  margin-left: 8px;
margin-bottom: 5px;
}
.nav-bar{

    margin-left: 292px;
    
    display: flex;
    justify-content: space-between;
    width: 644px;

}

.nav-bar-element{
    padding-top: 53px;
    padding-bottom: 50px;
    font-family: 'Montserrat',sans-serif;
color:  #b8b8b8;
font-size: 13px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-transform: uppercase;
cursor: pointer;

}
.nav-bar-element:hover{
    color:  #18cfab;
    border-bottom: 3px solid #18cfab;
}

.search-out-input{
    cursor: pointer;
    margin-top: 49px;
    margin-left: 17px;
}
.wordpress-them{
    margin-top: 246px;
  
 
    font-family: 'Montserrat',sans-serif;
color:  #ffffff;
font-size: 35px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-transform: uppercase;
text-align: center;
}
.brich{
   
    color: #18cfab;
}
.title-of-the-site{
    text-transform: uppercase;
    margin-top: px;
    font-family: 'Montserrat',sans-serif;
    color:  #ffffff;
    font-size: 79px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    
    text-align: center;
    transform: scaleX(1.0005);
}
.ps-to-the-title{
  margin-top: 20px;
    font-family: 'Montserrat',sans-serif;
color:  #d4d4d4;
font-size: 34px;/* Приближение из-за подстановки шрифтов */
font-weight: 300;
text-transform: capitalize;
text-align: center;
transform: scaleX(1.0005);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}
.searcher-input{
    background: #DCDCDC;
    font-size: 20px;
    border: 2px solid #18cfab;
    width: 200px;
    height: 25px;
    margin-right: 8px;
    display: none;
    color:#18cfab;

}
.nav-bar-element::after{
    content:none;
    border-bottom: #18cfab 2px solid;
    width: 39px;
margin-top: 55px;
}
.button-logo-1{
    cursor: pointer;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 31px;
    padding-right: 31px;
    text-transform: uppercase;
    border-radius: 4px;
background-color:  #18cfab;

border-top:3px white solid;
font-family: 'Montserrat',sans-serif;
color:  #ffffff;
font-size: 13px;
font-weight: 700;
transition: 0.4s;
text-align: center;

}
.button-logo-1:hover{
    border-top:3px #18cfab solid;
}
.button-logo-2{
    cursor: pointer;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 31px;
    padding-right: 31px;
font-family: 'Montserrat',sans-serif;
color:  #ffffff;
font-size: 13px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-transform: uppercase;
text-align: center;
 border-radius: 4px;
background-color:  #00cbf6;

border-top:3px white solid;

}
.button-logo-2:hover{
    border-top:3px #00cbf6 solid;
}
.two-logo-bottons{
    margin: 146px auto;

    width: 360px;
    
    display: flex;
    justify-content: space-between;
    
}
.blocks-with-our-service{
    display: flex;
    justify-content: center;
}
.block-with-our-service{
    width: 480px;
height: 374px;
}
.black{
    background-color:  #1c2a33;
    border-top: 3px #18cfab solid;
    border-radius: 3px; 

}
.green{
    background-color:  #18cfab;
    border-top: 3px white solid;
    border-radius: 3px; 
}
.img-near-header{
   margin-left: 180px;
margin-top: 95px;
}
.txt-in-the-block-with-service{
    margin-top: 48px;
    font-family: 'Montserrat',sans-serif;

font-size: 20px;/* Приближение из-за подстановки шрифтов */
text-transform: uppercase;
text-align: center;

}
.white{
    color: white;;
}
.title-of-the-section{
    text-transform: capitalize;
    margin:60px auto 0px;
    font-family: 'Montserrat',sans-serif;
color:  #4e4e4e;
font-size: 36px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;

text-align: center;
}
.doble-border{
    margin-top: 38px;
}
.first-border{
    width: 76px;
    margin: auto;
    border-top: 3px solid #18cfab ;
}
.second-border{
    margin-top: 3px;
    width: 76px;
    margin-left: 882px;
    border-top: 3px solid #18cfab ;

}
.nav-bar-of-the-sections{
    display: flex;
    justify-content: center;
    margin-top: 70px;

}
.element-of-service{
    padding: 28px 36px 29px 34px;
    border: 1px solid #DCDCDC;
    text-transform: capitalize;
    
font-family: 'Montserrat',sans-serif;
color:  #717171;
font-size: 15.98px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;

text-align: center;

}
.element-of-service:hover{
    background-color:  #18cfab;
    color: white;
}
.img-near-the-service{
    width: 194px;
    height: 120px;
    border: grey 1px solid;
    background-image: url(./img/man-witj-computer.png);
}
.service-info-1{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.txt-near-nav-bar-whith-services{
    text-align: justify;
    margin-left: 20px;
    width: 48vw;
    font-family: "Montserrat",sans-serif;
color:  #777777;
font-size: 13.64px;
font-weight: 300;
}
.collage-of-service{
    background-attachment: fixed;
    background-image: url(./img/Sections-background/section-2.jpg);
   height: 474px;
   width: 100vw;
   margin-top: 103px;
}
.just-black{
    padding-top: 126px;
    height: 348px;
    width: 100vw;
    background-color: rgba(0,0,0,0.8);;
}
.title-of-section-type-1{
   
    font-family: "Montserrat",sans-serif;
    color:  #18cfab;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
.hgh{
    margin-top: 0;
}
.notate-of-title{
    font-family: "Montserrat",sans-serif;
color:  #d8d8d8;
font-size: 16px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 40px;/* Приближение из-за подстановки шрифтов */
display: flex;
justify-content: center;
margin-top: 35px;

}
.section-button{
    width: 165px;
    display: flex;
    justify-content: center;
    text-decoration:none;
    margin: 80px auto;
    transition: 0.4s;

}
.nav-bar-of-middle-section{
    margin-top: 70px;
 
    display: flex;
    justify-content: center;
}
.element-of-nav-bar-in-middle-section{
    text-transform: capitalize;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 29px;
    padding-right: 29px;
   border: 0.5px solid lightgray;
    font-family: "Montserrat",sans-serif;
color:  #717171;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
}
.element-of-nav-bar-in-middle-section:hover{
    color:  #18cfab;
    border-top: 2px solid #18cfab;
}
.img-collage-type-1{
    width: 284px;
    height: 206px;
}
.line-1-collage{

    display: flex;
   margin: auto;
    width: 1144px;
}
.line-2-collage{
    display: flex;
   margin: auto;
    width: 1144px;
}
.line-3-collage{
    display: flex;
   margin: auto;
    width: 1144px;
}
.part-with-collage-1{
    margin-top: 71px;
    margin-bottom: 0px;
}

.photo1{
    background-image: url('./img/graphic-design/graphic-design1.jpg');
}
.photo2{
    background-image: url('./img/graphic-design/graphic-design2.jpg');
}
.photo3{
    background-image: url(./img/graphic-design/graphic-design3.jpg);
}
.photo4{
    background-image: url(./img/graphic-design/graphic-design4.jpg);
}
.photo5{
    background-image: url(./img/graphic-design/graphic-design5.jpg);
}
.photo6{
    background-image: url(./img/graphic-design/graphic-design6.jpg);
}

.photo7{
    background-image: url(./img/webdesign/web-design1.jpg);
}
.photo8{
    background-image: url(./img/webdesign/web-design2.jpg);
}.photo9{
    background-image: url(./img/webdesign/web-design3.jpg);
}.photo10{
    background-image: url(./img/webdesign/web-design4.jpg);
}.photo11{
    background-image: url(./img/webdesign/web-design5.jpg);
}.photo12{
    background-image: url(./img/webdesign/web-design6.jpg);
}
.photo13{
    background-image: url(./img/landingpage/landing-page1.jpg);
}
.photo14{
    background-image: url(./img/landingpage/landing-page2.jpg);
}
.photo15{
    background-image: url(./img/landingpage/landing-page3.jpg);
}
.photo16{
    background-image: url(./img/landingpage/landing-page4.jpg);
}
.photo17{
    background-image: url(./img/landingpage/landing-page5.jpg);
}
.photo18{
    background-image: url(./img/landingpage/landing-page6.jpg);
}
.photo19{
    background-image: url(./img/wordpress/wordpress1.jpg);
}.photo20{
    background-image: url(./img/wordpress/wordpress2.jpg);
}.photo21{
    background-image: url(./img/wordpress/wordpress3.jpg);
}.photo22{
    background-image: url(./img/wordpress/wordpress4.jpg);
}.photo23{
    background-image: url(./img/wordpress/wordpress5.jpg);
}.photo24{
    background-image: url(./img/wordpress/wordpress6.jpg);
}
.blue-box{
    width: 284px;
    position: absolute;
    transition: 0.4s ease-out;
    overflow: hidden;
    background: white;

    height: 0px;

}
.note-like-notate{
    width: 135px;
    font-family: "Montserrat",sans-serif;
color:  #18cfab;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-transform: uppercase;
margin:50px auto 20px;
}
.note-in-photo{
    font-family:" Montserrat",sans-serif;
color:  #8a8a8a;
font-size: 12px;/* Приближение из-за подстановки шрифтов */
font-weight: 300;
margin: auto;
width: 73px;
}

.img-collage-type-1:hover  .blue-box {
    height: 206px;
    border-top: #00cbf6 3px solid;
}
.section-button:hover{
    width: 210px;
}
.button-load-more{
    
    cursor: pointer;
    margin: 71px auto 0px;
    width: 121px;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    height: 16px;
    padding: 22px;
    border-radius: 4px;
    background-color:  #18cfab;
    color:white;
    font-family: "Montserrat",sans-serif;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight:600;


}
.load-more{
    margin-left: 16px;
}
.button-load-more{
    transition: 0.1s;
}
.button-load-more:hover{
    border-top:2px solid white;
}
.txt-in-the-load-more{
    display: flex;
    justify-content: center;
    width: 122px;
}
.middle-part-of-section-with-service{
    background-color: 	#F0F0F0;
    padding-top: 60px;
    padding-bottom: 100px;
    border-bottom: 1px solid rgb(34, 34, 34);
}
.breaking-News{
    margin-top: 100px;
}
.line-first-date-collage{
    margin:auto;
    width: 1139px;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.line-second-date-collage{
    margin:auto;
    width: 1139px;
    display: flex;
    justify-content: space-between;
    margin-top: 45px; 
}
.block-with-photo-and-date{
    width: 263px;
    text-decoration: none;

}
.blue-service-block{
    background: #18cfab;
    color: white;
}
.n1-date-photo{
     width: 263px;
height: 208px;
    background-image: url(./img/collage-dates/Photo1.jpg);

}
.n2-date-photo{
    width: 263px;
height: 208px;
   background-image: url(./img/collage-dates/Photo2.jpg);

}
.n3-date-photo{
    width: 263px;
height: 208px;
   background-image: url(./img/collage-dates/Photo3.jpg);

}
.n4-date-photo{
    width: 263px;
height: 208px;
   background-image: url(./img/collage-dates/Photo4.jpg);

}
.n5-date-photo{
    width: 263px;
height: 208px;
   background-image: url(./img/collage-dates/Photo5.jpg);

}
.n6-date-photo{
    width: 263px;
height: 208px;
   background-image: url(./img/collage-dates/Photo6.jpg);

}
.n7-date-photo{
    width: 263px;
height: 208px;
   background-image: url(./img/collage-dates/Photo7.jpg);

}
.n8-date-photo{
    width: 263px;
height: 208px;
   background-image: url(./img/collage-dates/Photo8.jpg);

}
.date-in-block{
    cursor: pointer;
    transition: 0.2s;
    background-color:  #203e38;
width: 28px;
padding-right: 20px;
padding-left: 20px;
padding-top: 14px;
padding-bottom: 14px;
Font-family: "Montserrat",sans-serif;
color:  #ffffff;
font-size: 16px;
font-weight: 400;

height: 38px;
float: right;
}
.txt-12{
    margin: auto;
    width: 18px;

}
.txt-Feb{
    margin:auto;
    width: 29px;
}
.txt-under-photo-in-date-block{
    padding-top: 14px;
    padding-left: 13px;
    padding-bottom: 12px;
    width: 250px;
height: 46px;
    background-color: #F0F0F0;
}
.title-under-photo-in-date-block{
    transition: 0.2s;
    font-family: "Montserrat",sans-serif;
color:  #717171;
font-size: 18px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;


}
.comment-for-users-in-date-block{
    margin-top: 14px;
    font-family: "Montserrat",sans-serif;
color:  #777777;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 300;
}
.parentheses{
    background-image: url(./img/wordpress/parentheses.png);
    width: 44px;
height: 30px;
   ;
    margin: 69px auto 0px;
}
.slider-with-our-staff{
    margin-top: 132px;
    background-attachment: fixed;
    background-image: url(./img/Sections-background/section-3.jpg);
    width: 100vw;
    height: 852px;
    padding-top: 99px;
}
.third-type-tt{
    font-weight: 400;
    color:  #ffffff;
}
.main-txt-in-the-staff-block{
    font-family: "Montserrat";
color:  #bbbbbb;
font-size: 16px;/* Приближение из-за подстановки шрифтов */
font-weight: 300;
line-height: 30px;/* Приближение из-за подстановки шрифтов */
text-align: center;
width: 57vw;
margin: 43px auto 0px;
}
.dws-wrapper{
    max-width: 650px;
    margin: 0 auto;
   }
   ul.accordion{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 0;
   }
   ul.accordion li{
    width: 50px;
    overflow: hidden;
    padding: 1px 1px 0;
    cursor: pointer;
    display: block;
    -webkit-box-shadow: 1px 3px 15px #7e807e;
    -moz-box-shadow: 1px 3px 15px  #7e807e;
    box-shadow: 1px 3px 15px  #7e807e;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
   }
   ul.accordion img{
    width: 300px;
   }
   ul.accordion li:hover{
    width: 300px;
    -webkit-box-shadow: 1px 3px 15px #36c5fa;
    -moz-box-shadow: 1px 3px 15px #36c5fa;
    box-shadow: 1px 3px 15px #36c5fa;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
   }
   ul.accordion li:nth-child(4){
    width: 300px;
   }
   ul.accordion:hover li:nth-child(4){
    width: 50px;
   }
   ul.accordion li:nth-child(4):hover{
    width: 300px;
   }
   .collage-loadmore-block{
       margin-top: 0px;
       margin-bottom: 50px;
       display: none;
   }
   h5{
    margin-block-start: 0px;
margin-block-end: 0px;
}

#block-for-slider {
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}
#btns{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    font-family: "Montserrat",sans-serif;
color:#18cfab;
font-size: 16px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
line-height: 27px;/* Приближение из-за подстановки шрифтов */
text-align: center;
}
.proffesion{
    margin-top: 10px;
    font-family: "Montserrat",sans-serif;
    color:#bbbbbb;
font-size: 13px;/* Приближение из-за подстановки шрифтов */
font-weight: 300;
line-height: 27px;/* Приближение из-за подстановки шрифтов */
text-align: center;
margin-bottom: 27px;
}
.click-img-circle{
    width: 143px;
    height: 142px;
    border-radius: 50%;
    border:10px rgba(31, 218, 181, 0.2) solid;


}
#prev-btn, #next-btn {
    

    padding-top: 4.5px;
    text-align: center;
    top: calc(50% - 25px);
    color: #bbbbbb;
    font-size: 22px;
    border: 1px #bbbbbb solid;
    width: 31px;
    height: 26.5px;
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
    background: #18cfab;
    color: white;
    border:none;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    margin: 3px;
    background-size:100%; 
    background-repeat: no-repeat;
    border: 5px  rgba(31, 218, 181, 0.2) solid;
}
.nav-img-circle{
    width: 59px;
    height: 59px;
    border-radius: 50%;
}
#nav-btns{
    display: flex;
    justify-content: center;
}

.slide-nav-btn:hover {
    cursor: pointer;
   
}
.slider{
    margin-top: -52px;
}