@mixin btn-purple($width,$hight){
font-family: "Montserrat",sans-serif;
color:#ffffff;
display: flex;
align-items: center;
justify-content: center;
font-size: 15px;
font-weight: 700;
width: $width;
height: $hight;
}
$font: "Montserrat",sans-serif;
.header{
    &__hat-mobile {
        height: 103px;
        background: #262626;
        &__container{
            display: flex;
            justify-content: space-between;
            height: 103px;
            padding: 0px 10px 0px 10px;
            &__logo{
                background-image: url('../src/img/logo-pen.png');
                width: 43px;
                height: 41px;
                @include media(){}
            }
            &__btn-buy-now{
                @include btn-purple(119px,37px)
            }
            &__header__hat-mobile__container__menu-hamburger{
                &__icon{
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .5s ease-in-out;
                    -moz-transition: .5s ease-in-out;
                    -o-transition: .5s ease-in-out;
                    transition: .5s ease-in-out;
                    cursor: pointer;
                    position: relative;
                    width: 26px;
                    height: 21px;

                    &__line{
                                display: block;
                            position: absolute;
                            height: 9px;
                            width: 100%;
                            background: white;
                            border-radius: 9px;
                            opacity: 1;
                            left: 0;
                            -webkit-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                            -webkit-transition: .25s ease-in-out;
                            -moz-transition: .25s ease-in-out;
                            -o-transition: .25s ease-in-out;
                            transition: .25s ease-in-out;
                                height: 3px;
                        

                    }
                    &__line:nth-child(1){
                        top: 0px;
                    }
                    &__line:nth-child(2){
                        top: 18px;
                    }
                    &__line:nth-child(3){
                        top: 36px;

                    }
                    &.open &__line:nth-child(1){
                        top: 18px;
                        -webkit-transform: rotate(135deg);
                        -moz-transform: rotate(135deg);
                        -o-transform: rotate(135deg);
                        transform: rotate(135deg);
                    }
                    &.open &__line:nth-child(2){
                        opacity: 0;
                        left: -60px;
                    }
                    &.open &__line:nth-child(3){
                        top: 18px;
                        -webkit-transform: rotate(-135deg);
                        -moz-transform: rotate(-135deg);
                        -o-transform: rotate(-135deg);
                        transform: rotate(-135deg);
                    }
                }
                &__appeare{
                    &__link{

                    }
                }
            }
        }
    }
    &__intro-title{
                background-image: url('../src/img/bg-main.jpg') ;
                background-repeat: no-repeat;
                &__title{
                font-family: $font;
                color: #ffffff;
                font-size: 48px;/* Приближение из-за подстановки шрифтов */
                font-weight: 700;
                text-align: center;
        }
        &__note-undertitle{
            font-family: $font;
            color:#8d81ac;
            font-size: 18.01px;/* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            line-height: 25px;/* Приближение из-за подстановки шрифтов */
            text-align: center;
        }
        &__note-v-of-forkio{
            font-family: $font;
            color:#848e97;
            font-size: 14px;/* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            line-height: 15px;/* Приближение из-за подстановки шрифтов */
            text-align: center;
        }
    }
}